services:
  fuseki:
    image: stain/jena-fuseki:latest
    container_name: mead-fuseki
    ports:
      - "3030:3030"
    environment:
      - ADMIN_PASSWORD=admin
    volumes:
      - fuseki_data:/fuseki

volumes:
  fuseki_data:
